*
{
    background-color: #cbe0e6;
}

h1
{
    text-align: center;
    font-family: "Segoe UI Historic", sans-serif;
    font-size: 50px;
    color: #42415c;
}

.intro{
    text-align: center;
    font-family: "Segoe UI Historic", sans-serif;
    font-size: 25px;
    margin: 50px 100px 50px 100px;
}

h2
{
    font-family: "Segoe UI Historic", sans-serif;
    font-size: 35px;
    color: #42415c;
    margin: 40px 0px 25px 30px;
}

p
{
    font-family: "Segoe UI Historic", sans-serif;
    font-size: 20px;
    margin: 15px;
}
img
{
    width: 339px;
    height: 226px;
    margin-left: 70px;
}
