body {
    margin: 0;
}

.greeting, .conclusion {
    font-size: 23px;
    background-color: #391f69;
    color: #edeaea;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px 0 5px 0;
}

.greeting, .conclusion, .title {
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.menu {
    padding-top: 1px;
    height: 40vh;
    background-color: #ffffff;
    font-family: Calibri, sans-serif;
}

.menu-title {
    color: #391f69;
    text-align: center;
    font-size: 18px;
}

li {
    margin: 2px 20px 2px 0;
    list-style: none;
}

.title, .menu-title {
    font-weight: bold;
}

.content {
    height: 82vh;
    font-family: Calibri, sans-serif;
    background-color: #ffffff;
    width: 100%;
}

.title {
    font-size: 24px;
    padding-top: 10px;
    color: #391f69;
}

img {
    display: none;
}

.info {
    margin: 15px;
}

@media screen and (min-width: 480px) {
    .greeting, .conclusion {
        font-size: 26px;
    }

    .container {
        flex-direction: row;
    }

    img {
        display: block;
        float: left;
        margin: 15px 30px 15px 15px;
        width: 40%;
    }

    .menu, .content {
        height: 88vh;
    }

    .menu-title {
        margin: 5px 0 5px 0;
        color: #FFFFFF;
    }

    .menu {
        background-color: #5a595b;
    }

    .conclusion::after {
        content: '';
        clear: both;
        display: block;
    }
}

@media screen and (min-width: 565px) {
    .greeting, .conclusion {
        font-size: 30px;
    }
    
}



